.container
  .row
    h1 Герои марвел
  .row.center-xs.search-row
    .col-xs-12
      .box
        app-search-input((setValue)="handleSearch($event)")
  .row
    .col-xs-12
      .box
        p
          button.btn((click)="toggleFavoritesOnly()" "[ngClass]"="{ 'btn_pressed': showFavoritesOnly$ | async }") Только избранные
  .row
    .col-xs-12
      .box
        p(*ngIf="loading$ | async")
          img(src="assets/ajax-loader.gif")
  .heroes-list.row
    .col-xs-12(*ngIf="loadError")
      .box {{loadError}}
    ng-container(*ngIf="heroes$")
      app-hero.col-xs-12.col-sm-6.col-md-4.col-lg-3(*ngFor="let hero of heroes$ | async" "(favorite)"="toggleFavorite(hero.id)" "[hero]"="hero")
  .row.center-xs(*ngIf="count < totalCount && !showFavoritesOnly$ | async")
    button.btn("(click)"="loadMore()" "[disabled]"="loading$ | async") 
      img(*ngIf="loading$ | async" src="assets/ajax-loader.gif" width="12" height="12")
      | Загрузить еще
  
